<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="claw4">
  <link
    name="P_base_Link">
    <inertial>
      <origin
        xyz="-0.0062847521117842 2.22044604925031E-16 -0.201786859514905"
        rpy="0 0 0" />
      <mass
        value="6.45985390928753" />
      <inertia
        ixx="0.0831917714950416"
        ixy="8.00954354923666E-18"
        ixz="-0.00141801465827444"
        iyy="0.0556863824606013"
        iyz="-8.67361737988404E-19"
        izz="0.0377072153961648" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/P_base_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.5" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/P_base_Link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="P_1_Link">
    <inertial>
      <origin
        xyz="-0.0624987281243593 0.000398726519576342 -1.11022302462516E-16"
        rpy="0 0 0" />
      <mass
        value="2.29977871437822" />
      <inertia
        ixx="0.00397637847664011"
        ixy="3.79971497935492E-05"
        ixz="-6.28837260041593E-18"
        iyy="0.00993203169150051"
        iyz="4.91279109407494E-20"
        izz="0.00993227410397426" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/P_1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.5" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/P_1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="P_base_to_1_Link"
    type="revolute">
    <origin
      xyz="-0.0115182488057926 0 -0.369820672684002"
      rpy="-1.57079632679488 -1.53966089433424 0" />
    <parent
      link="P_base_Link" />
    <child
      link="P_1_Link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="P_2_Link">
    <inertial>
      <origin
        xyz="0.0261395675954537 0.156837405573887 4.40758540776187E-14"
        rpy="0 0 0" />
      <mass
        value="6.27444678594553" />
      <inertia
        ixx="0.113519091226906"
        ixy="-0.012336249299687"
        ixz="-3.95598267685648E-17"
        iyy="0.0415576369787414"
        iyz="1.51750187665344E-17"
        izz="0.0901215297519561" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/P_2_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.5" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/P_2_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="P_1_to_2_Link"
    type="revolute">
    <origin
      xyz="-0.124997456248677 0.000797453039112106 0"
      rpy="1.57079632679489 1.39170475447566 3.13521298600109" />
    <parent
      link="P_1_Link" />
    <child
      link="P_2_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="100"
      velocity="10" />
  </joint>
  <link
    name="P_left_Link">
    <inertial>
      <origin
        xyz="-0.0876505435844315 -0.0341537264977404 4.03010957938932E-14"
        rpy="0 0 0" />
      <mass
        value="4.58036974856787" />
      <inertia
        ixx="0.011771753602578"
        ixy="0.000837634574500023"
        ixz="-9.19136626889323E-19"
        iyy="0.0269939517555468"
        iyz="1.2603850255144E-18"
        izz="0.0311317557771784" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/P_left_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/P_left_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="P_2_to_left_Link"
    type="continuous">
    <origin
      xyz="0 0.304138126515083 0"
      rpy="0 0 -1.73594500421685" />
    <parent
      link="P_2_Link" />
    <child
      link="P_left_Link" />
    <axis
      xyz="-0.273290136443592 0.00381070259111247 0.961924102966759" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="500000000"
      velocity="10" />
  </joint>
  <link
    name="P_right_Link">
    <inertial>
      <origin
        xyz="0.0863889105958468 0.0372297052160662 -5.91193760612896E-14"
        rpy="0 0 0" />
      <mass
        value="4.58036974856787" />
      <inertia
        ixx="0.0117315995881393"
        ixy="0.00029797142664897"
        ixz="-6.32521853362149E-19"
        iyy="0.0270341057699855"
        iyz="-8.470329472543E-20"
        izz="0.0311317557771784" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/P_right_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/P_right_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="P_2_to_right_Link"
    type="continuous">
    <origin
      xyz="0.0986393923834267 0.287698227783769 0"
      rpy="-3.14159265358979 0 1.447930450626" />
    <parent
      link="P_2_Link" />
    <child
      link="P_right_Link" />
    <axis
      xyz="-0.272884794791439 -0.015359326262194 0.96192410296676" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="500000000"
      velocity="10" />
  </joint>
</robot>